
@font-face {
  font-family: "Comic";
  src: url("../fonts/action.ttf");
}

@font-face {
  font-family: "Game";
  src: url(../fonts/game.ttf);
}

@font-face {
  font-family: "Jack";
  src: url(../fonts/jack.TTF);
}

.containerMain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
}

.title {
  font-family: "Comic";
  color: #ffcc01;
  -webkit-text-stroke: 4px #3166b0;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.subTitle {
  font-family: "Game";
  font-size: 30px;
  color: white;
}

.placeH {
  text-align: center;
  font-family: "Jack";
}

.formContainer {
  width: 750px;
  text-align: center;
}

.cardPoke {
  height: 320px;
  width: 260px;
  border: 5px solid #fbdc32;
  background-image: url("../img/smoke.jpg");
}

.containerImage {
  border: 4px solid #fbdc32;
  background-image: url("../img/stars.gif");
  width: 100%;
  height: 60%;
}

.titleCard {
  font-family: "Game";
  font-size: 25px;
  color: #fbdc32;
  -webkit-text-stroke: 1px black;
}

.infoCard {
  font-family: "Jack";
  text-align: left;
  line-height: 100%;
  margin-top: -10%;
  color: white;
  -webkit-text-stroke: 0.4px black;
}

.resultInfo {
  color: #2a40a0;
}

.cardM {
  width: 260px;
}
